# Ignore node_modules directory
node_modules

# Ignore npm debug log
npm-debug.log

# Ignore local environment variables file
.env

# Ignore Dockerfile and .dockerignore itself to avoid them being copied to the image
Dockerfile
.dockerignore

# Ignore any logs
*.log

# Ignore directories that might contain sensitive data, configuration or are irrelevant for the app running in the container
.git
.gitignore
.idea
.vscode
coverage
dist
dev-dist
tmp
*.swp

# Ignore OS-specific files
.DS_Store
Thumbs.db